/* General Styles */
.section6 {
    position: relative;
    width: 100%;
    padding: 40px 20px;
    background-color: #8770B9;
    overflow: hidden;
    height: 80vh; /* Full viewport height */
}

.background-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.section6-content {
    z-index: 2;
    margin: 0 auto;
    text-align: center;
    color: white;
}

/* Title Images */
.comment-title, .ellesont-title, .tunisie-title {
    position: absolute;
}

.comment-title {
    top: 10%;
    left: 15%;
    width: 20%;
}

.ellesont-title {
    top: 20%;
    left: 30%;
    width: 20%;
}

.tunisie-title {
    top: 32%;
    left: 15%;
    width: 45%;
}

.question-mark-section6 {
    position: absolute;
    top: 20%;
    right: 30%;
    width: 10%;
}

/* Description Images */
.description1 {
    position: absolute;
    bottom: 31%;
    left: 15%;
    width: 44%;
}

.description2 {
    position: absolute;
    bottom: 15%;
    left: 15%;
    width: 44%;
}

/* Decoration Images */
.star {
    filter: brightness(0) saturate(100%) invert(83%) sepia(11%) saturate(2834%) hue-rotate(11deg) brightness(100%) contrast(92%);
    position: absolute;
    left: 10%;
    top: 60%;
    width: 3%;
}

.flower {
    position: absolute;
    left: 10%;
    top: 75%;
    width: 3%;
}

/* Responsive Design for Mobile Devices */
@media (max-width: 768px) {
    .section6 {
        padding: 20px 10px;
        height: auto;
        position: relative;
    }

    .comment-title, .ellesont-title, .tunisie-title {
        width: 67%;
        left: -1%;
        position: relative;
        top: unset;
        margin-bottom: 20px;/* Add space between elements */
    }

    .comment-title {
        margin-top: 20px;
    }

    .ellesont-title {
        margin-top: 0;
    }

    .tunisie-title {
        margin-top: 0;
    }

    .question-mark-section6 {
        width: 10%;
        position: relative;
        top: 5%;
        left: 5%;
        margin-bottom: 20px;
    }

    .star {
        width: 10%;
        position: relative;
        top: 5%;
        left: 5%;
        margin-bottom: 20px;
    }

    .flower {
        width: 10%;
        position: relative;
        top: 5%;
        left: 5%;
        margin-bottom: 20px;
    }

    .description1, .description2 {
        width: 80%;
        position: relative;
        text-align: left;
        margin: 20px auto;
        top: unset;
        margin-left: -22%; /* Align text with decoration images */
    }

    .description1 {
        margin-top: 10px;
        
    }

    .description2 {
        margin-top: 10px;
    }
}
