/* Conteneur principal */
.full-width-image-container {
  position: relative;
  width: 100%;
  background-color: #f4e5e6; /* Couleur de fond si nécessaire */
}

/* Image de fond plein écran */
.full-width-image {
  width: 100%;
  height: auto;
  display: block;
}

/* Deuxième image et texte */
.second-image-and-text {
  /* Vous pouvez positionner ce conteneur où vous le souhaitez */
  text-align: center;
}

.second-image {
  width: 100px; /* Vous pouvez ajuster la taille ici */
  height: auto;
  display: block;
  margin: 0 auto;
}

.text {
  font-family: Arial, sans-serif;
  color: #654284; /* Ajuster selon votre design */
  margin-top: 10px;
}

.custom-line {
  width: 50%;
  border: 1px solid #39b549; /* Couleur verte */
  margin: 10px auto;
}

/* Troisième image (ligne verte) */
.third-image-container {
  /* Vous pouvez positionner ce conteneur où vous le souhaitez */
}

.additional-image, .third-image {
  max-width: 150px; /* Ajustez la taille ici */
  height: auto;
}

/* Image en bas */
.bottom-image-container {
  /* Vous pouvez positionner ce conteneur où vous le souhaitez */
}

.bottom-image {
  width: 100%;
  height: auto;
  display: block;
}

/* Nouvelle image en bas */
.new-bottom-image-container {
  /* Vous pouvez positionner ce conteneur où vous le souhaitez */
}

.new-bottom-image {
  width: 100%;
  height: auto;
  display: block;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  .second-image {
      width: 80px; /* Réduire la taille sur mobile si nécessaire */
  }

  .custom-line {
      width: 70%; /* Ajustement pour les petits écrans */
  }

  .additional-image, .third-image {
      max-width: 120px; /* Réduction de la taille des images */
  }
}
