/* Conteneur de la section */
.section10 {
  position: relative;
  width: 100%;
  padding: 2%;
  height: 200vh;
  font-family: 'Arial', sans-serif;
}

/* Arrière-plan */
.backligne {
  /* background-image: url('./Pic/.backligne'); Image de fond */
  /* background-size: cover;
  /* background-position: center; */
  background-repeat: repeat; 
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70%;
  height: 100%;

  z-index: 0; /* S'assurer que l'image de fond est derrière les autres éléments */
}

/* Styles pour chaque image avec pourcentages */

/* Début de page */
.debutpage {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 98%;
  height: auto;
}

/* ATFD */
.atfd {
  position: absolute;
  top: 13%;
  left: 15%;
  width: 10%;
  height: auto;
}

/* ADDCI */
.addci {
  position: absolute;
  top: 13%;
  left: 28%;
  width: 12%;
  height: auto;
}

/* ATAC */
.atac {
  position: absolute;
  top: 13%;
  left: 44%;
  width: 10%;
  height: auto;
}

/* Rayhana */
.rayhana {
  position: absolute;
  top: 14%;
  left: 56%;
  width: 15%;
  height: auto;
}

/* Amal */
.amal {
  position: absolute;
  top: 13%;
  left: 73%;
  width: 12%;
  height: auto;
}

/* Association Citoyenneté */
.association-citoyennete {
  position: absolute;
  top: 23%;
  left: 15%;
  width: 67%;
  height: auto;
}

/* Cawtar */
.cawtar {
  position: absolute;
  top: 32%;
  left: 15%;
  width: 15%;
  height: auto;
}

/* Essabil */
.essabil {
  position: absolute;
  top: 32%;
  left: 32%;
  width: 15%;
  height: auto;
}

/* Tigar */
.tigar {
  position: absolute;
  top: 32%;
  left: 50%;
  width: 12%;
  height: auto;
}

/* Calm */
.calm {
  position: absolute;
  top: 32%;
  left: 65%;
  width: 15%;
  height: auto;
}

/* Circul 1/2 */
.circul1_2 {
  position: absolute;
  top: 34%;
  left: 80%;
  width: 3%;
  height: auto;
}

/* Association de Développement */
.assocdevel {
  position: absolute;
  top: 41%;
  left: 17%;
  width: 66%;
  height: auto;
}

/* Tirez en Mauve */
.tirezenmauve {
  position: absolute;
  top: 47%;
  left: 18%;
  width: 3%;
  height: auto;
}

/* L'étoile Mauve */
.letoilemauve {
  position: absolute;
  top: 46%;
  left: 22%;
  width: 2%;
  height: auto;
}

/* Association Joussour */
.association-joussour {
  position: absolute;
  top: 54%;
  left: 14%;
  width: 70%;
  height: auto;
}

/* Association Alternatif */
.association-alternatif {
  position: absolute;
  top: 60%;
  left: 17%;
  width: 60%;
  height: auto;
}

/* L'étoile Gauche */
.lestartgauche {
  position: absolute;
  top: 66%;
  left: 19%;
  width: 2%;
  height: auto;
}

/* L'étoile Droite */
.lestartdroite {
  position: absolute;
  top: 66%;
  left: 72%;
  width: 2%;
  height: auto;
}

/* La Ligne des Électrices */
.lalignedeselectrice {
  position: absolute;
  top: 72%;
  left: 15%;
  width: 68%;
  height: auto;
}

/* Association Rayhana Jandouba */
.association-rayhana-jandouba {
  position: absolute;
  top: 77%;
  left: 17%;
  width: 66%;
  height: auto;
}

/* Association Durable */
.association-durable {
  position: absolute;
  top: 86%;
  left: 15%;
  width: 70%;
  height: auto;
}

/* L'étoile Jaune Droite */
.letoilejaunnedroite {
  position: absolute;
  top: 91%;
  left: 78%;
  width: 2%;
  height: auto;
}

/* L'étoile Gauche */
.letoilegauche {
  position: absolute;
  top: 91%;
  left: 20%;
  width: 2%;
  height: auto;
}

/* Association Promotion */
.associatiopromotion {
  position: absolute;
  top: 97%;
  left: 16%;
  width: 62%;
  height: auto;
}

/* Association des Jeunnee */
.associationdesjeunnee {
  position: absolute;
  top: 106%;
  left: 15%;
  width: 70%;
  height: auto;
}

/* Aswat Nisa */
.aswatnisa {
  position: absolute;
  top: 111%;
  left: 16%;
  width: 24%;
  height: auto;
}

/* Point Vert Gauche */
.pointvertegauche {
  position: absolute;
  top: 114%;
  left: 41%;
  width: 1%;
  height: auto;
}

/* Actif */
.actif {
  position: absolute;
  top: 110%;
  left: 44%;
  width: 11%;
  height: auto;
}

/* Point Vert Droite */
.pointvertdroite {
  position: absolute;
  top: 114%;
  left: 59%;
  width: 1%;
  height: auto;
}

/* Beity */
.beity {
  position: absolute;
  top: 110%;
  left: 62%;
  width: 12%;
  height: auto;
}

/* Association Vision */
.associationvision {
  position: absolute;
  top: 120%;
  left: 14%;
  width: 70%;
  height: auto;
}
