.section-final {
  margin-top: 30%;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #FEE8E8;
}

/* Image de fond de la section */
.background-imagesfinal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Image en haut de la page */
.image-haut-page {
  position: absolute;
  top: -4%; /* Ajustez comme nécessaire */
  left: 50%; /* Ajustez comme nécessaire */
  width: 100%; /* Ajustez comme nécessaire */
  height: auto;
  transform: translateX(-50%);
}

/* Conteneur de la boîte de dialogue verte */
.boite-dialogue-container {
  position: absolute;
  top: 13%; /* Ajustez comme nécessaire */
  left: 26%; /* Ajustez comme nécessaire */
  width: 7%; /* Ajustez comme nécessaire */
  height: auto;
}

.boite-dialogue-verte {
  width: 100%;
  height: auto;
}

/* Conteneur de l'image de contact */
.contact-container {
  position: absolute;
  top: 15%; /* Ajustez comme nécessaire */
  left: 12%; /* Ajustez comme nécessaire */
  width: 20%; /* Ajustez comme nécessaire */
  height: auto;
}

.second-image {
  width: 100%;
  height: auto;
}

/* Texte de contact */
.text {
  left: 290%;
  margin-top: -50%;
  color: #333;
  font-size: 1.5vw;
  line-height: 1.2;
  position: relative;
}

/* Image pour remplacer la ligne */
.custom-line-image {
  width: 10%;
  height: auto;
  margin: 2% 0;
}

/* Conteneur de la troisième image */
.third-image-container {
  position: absolute;
  top: 35%; /* Ajustez comme nécessaire */
  left: 50%; /* Ajustez comme nécessaire */
  width: 15%; /* Ajustez comme nécessaire */
  height: auto;
}

.additional-image {
  width: 96%;
  margin-left: -76%;
  height: auto;
}

.third-image {
  width: 80%;
  height: auto;
  margin-top: 2%;
}

/* Conteneur de l'image du bas */
.bottom-image-container {
  position: absolute;
  top: 50%; /* Ajustez comme nécessaire */
  left: 30%; /* Ajustez comme nécessaire */
  width: 50%; /* Ajustez comme nécessaire */
  height: auto;
}

.bottom-image {
  width: 100%;
  height: auto;
}

/* Conteneur de la nouvelle image en bas */
.new-bottom-image-container {
  position: absolute;
  top: 85%; /* Ajustez comme nécessaire */
  left: 0%; /* Ajustez comme nécessaire */
  width: 100%; /* Ajustez comme nécessaire */
  height: auto;
}

.new-bottom-image {
  width: 100%;
  height: auto;
}
