/* Section4.css */
.section4 {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0;
    background-color: #faf9e5;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.duration-objective-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 2; /* Assurez-vous que les images sont au-dessus du fond */
}

/* CSS pour l'image Durée */
.duration-image {
    width: 25%; /* Taille ajustée pour l'image Durée */
    height: auto;
    margin-right: 20px;
    z-index: 0; /* Assurez-vous qu'elle est au-dessus des autres images */
}

/* CSS pour l'image Sablier */
.hourglass-image {
    width: 10%; /* Taille ajustée pour l'image Sablier */
    position: absolute;
    top: 0%; /* Ajustez selon la maquette */
    left: 15%; /* Positionnement à gauche */
    z-index: 2; /* Au-dessus du fond, en dessous de l'image Durée */
}

/* CSS pour l'image Main */
.hand-image {
    width: 18%; /* Taille ajustée pour l'image Main */
    position: absolute;
    top: 50%; /* Ajustement pour correspondre à la maquette */
    right: -2%; /* Aligné à droite */
    z-index: 2; /* Au-dessus du fond */
}

/* Responsive Design pour les écrans larges */
@media (min-width: 1200px) {
    .duration-image {
        width: 20%; /* Taille plus grande pour grands écrans */
    }

    .hourglass-image {
        width: 66%; /* Ajusté pour grands écrans */
    }

    .hand-image {
        width: 15%; /* Ajusté pour grands écrans */
    }
}

/* Responsive Design pour les écrans moyens */
@media (min-width: 768px) and (max-width: 1199px) {
    .duration-image {
        width: 18%; /* Ajustement de la taille pour écrans moyens */
    }

    .hourglass-image {
        width: 12%; /* Ajustement pour écrans moyens */
    }

    .hand-image {
        width: 20%; /* Ajustement pour écrans moyens */
    }
}

/* Responsive Design pour les petits écrans */
@media (max-width: 767px) {
    .duration-objective-container {
        flex-direction: column; /* Les images se placent les unes sous les autres sur petits écrans */
        align-items: center; /* Centrage des images */
    }

    .duration-image {
        width: 60%; /* Ajustement pour petits écrans */
        margin-bottom: 20px; /* Ajout d'espace sous l'image */
    }

    .hourglass-image, .hand-image {
        width: 50%; /* Taille plus petite pour les petits écrans */
        position: static; /* Supprime le positionnement absolu pour l'alignement vertical */
        margin-bottom: 20px; /* Ajout d'espace sous chaque image */
    }
}
