/* Ajoutez cette règle pour le body */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Empêche le défilement horizontal */
}

.vlf-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  width: 102%; /* Assure que la largeur prend toute la fenêtre */
}

.header-section {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 150px;
  background-color: transparent;
}

.header-bg img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
  max-height: 700px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
  padding: 20px 50px;
  background: rgba(0, 0, 0, 0.5);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0; /* Supprime tout espace potentiel ajouté par le navigateur */
  padding: 0; /* Supprime tout espace potentiel ajouté par le navigateur */
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 1rem;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.navbar ul li a:hover {
  color: #ffd700;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 1200px;
  padding: 60px 0;
  margin-top: 100px;
}

.image-overlay img {
  width: 30%;
  height: 450%;
  position: absolute;
  top: -157%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

/* Mobile Styles */
@media (max-width: 767px) {
  .navbar ul {
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
  }

  .navbar ul li a {
    font-size: 0.9rem;
    padding: 3px 8px;
  }

  .header-content {
    flex-direction: column;
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
  }

  .image-overlay img {
    width: 78%;
    top: 21%;
    left: 44%;
  }

  .user-photo img {
    width: 100px;
    top: 70%;
    left: 80%;
  }

  .main-content {
    padding: 20px;
    width: 90%;
  }

  .download-button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .second-section {
    padding: 20px;
  }

  .text-content img {
    width: 100%;
    height: auto;
  }

  .footer-section h3 {
    font-size: 1.2rem;
  }
}
